/.env
/secrets/secret.yaml
/secrets/secret.hcl
/secrets/secret.ini
/secrets/secret.json
/secrets/secret.toml
/secrets/secret.yaml.cott.toml
/secrets/secret.hcl.cott.toml
/secrets/secret.ini.cott.toml
/secrets/secret.json.cott.toml
/secrets/secret.toml.cott.toml
